html {
    height: 100%;
}

body{
    background-color: rgb(51, 29, 4);
    /* display: flex; */
    /* flex-direction: column; */
    height: 100%;
    position: relative;
   
}
/* .container{
    border: solid 1px red;
    height: 600px;
    background-color: rgba(red, green, blue, alpha);
    backdrop-filter: blur(10px);
} */
.box1{
    display:block;
    margin-top: 1rem;
    margin-bottom:1rem;
    box-sizing: border-box;
    border:solid 1px red;
    width: 550px;
    height: 90px;
    background-color: rgb(57, 142, 253);
    
}

.box2{
    margin-top: 1rem;
    border:solid 1px red;
    width: 550px;
    height: 90px;
    background-color: rgb(57, 142, 253);

    
}

.box3{
    margin-top: 1rem;
    border:solid 1px red;
    width: 550px;
    height: 250px;
    border-radius: 1rem;
    background-color: rgb(57, 142, 253);
    background-image: url(https://static7.depositphotos.com/1050469/759/i/600/depositphotos_7597653-stock-photo-lumberjack.jpg);
    background-size: cover;
    
}
.content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.grid{
    display:grid;
    justify-content: center;
    background-color: #2d75b1;
    border: solid 1px red;
    margin:auto;
    width:550px;
    
}

.button{
    width: 80px;
}

.main-content{
    width: 960px;
    background-color: azure;
    padding: 3rem;
    margin: 0 auto;
    flex: 1 0 auto;
}



aside{
    background-color:#772d2d;
    float:right;
    margin:10px;
    width:25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    right:0px;
    top:150px;

}
aside h2 {
    text-align:center;
    background-color:#cfa6a6;
    color: rgb(124, 95, 95);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
aside ul {
    list-style: none;
    margin-left:-32px;
}
aside ul li {

}
aside ul li a {
    text-indent: 10px;
    display:block;
}
aside ul li a:link,
aside ul li a:visited{
    text-decoration: none;
    color:#fff;
    font-size:1.1rem;
    padding:10px;
    transition: all 0.5;
}
aside ul li :hover,
aside ul li :active{
    text-indent:20px;
    background-color:#cfcfcf;
}

footer{
    text-align:center;
    justify-items: center;
    color:white;
    padding:5px;
    background-color: black;
    flex: 0 0 auto;
}